In [1]:
import scipy as sp
import pandas as pd
import numpy as np

In [44]:
DATAPATH = 'data/'

In [57]:
data = pd.read_csv(DATAPATH+'palm_oil.csv',delimiter=',',low_memory=False)
data_total = pd.read_csv(DATAPATH+'cleaned_unique_index.csv',delimiter=',',low_memory=False)

In [58]:
data_total.set_index('code',inplace=True)
data.set_index('code',inplace=True)

# Exploring the number of aliments that contain palm oil

In [60]:
total_count = data_total.shape[0]
palm_oil_count = data.shape[0]
percentage = palm_oil_count / total_count * 100

print("We have a total of %d articles entered" % total_count)
print("Out of those we have information about palm oil on %d articles " % palm_oil_count)
print("This represents %f %% " % percentage)

We have a total of 665693 articles entered
Out of those we have information about palm oil on 387961 articles
This represents 58.279267 %

- While this amount seems not enough it is still more than half articles. We remove from our study all articles that we do not have information about as they could make future analysis biased. The sample of size 387964 is still a fairly large sample size that we can make some statistical analysis on

In [61]:
data.head()

,ingredients_from_palm_oil_n,ingredients_from_palm_oil,ingredients_from_palm_oil_tags,ingredients_that_may_be_from_palm_oil_n,ingredients_that_may_be_from_palm_oil,ingredients_that_may_be_from_palm_oil_tags
code,,,,,,
0000000001199,0.0,NaN,NaN,0.0,NaN,NaN
0000000001663,0.0,NaN,NaN,0.0,NaN,NaN
0000000002264,0.0,NaN,NaN,0.0,NaN,NaN
0000000003827,0.0,NaN,NaN,0.0,NaN,NaN
0000000004510,0.0,NaN,NaN,0.0,NaN,NaN

In [62]:
contains_palm = data[data['ingredients_from_palm_oil_n'] > 0.0]
may_contain_palm = data[data['ingredients_that_may_be_from_palm_oil_n'] > 0.0]

In [63]:
contains_palm.index.difference(may_contain_palm.index)

Index(['0000000290616', '0000069006562', '00023092', '00035460', '00052283',
       '00087728', '00088749', '00096225', '00099202', '00101356',
       ...
       '9556085735739', '9556121020164', '9556417639339', '9556439887497',
       '9556587103869', '96121283', '9714176130355', '98152056', '98797554',
       '99515874'],
      dtype='object', name='code', length=8229)

In [ ]:
contains_palm['inde'.plot.bar(logy=True)